@model IEnumerable<Lab7.Models.Invoice>

@{
    ViewData["Title"] = "My Orders";
}

<h1>My Orders</h1>
@* 7.6 *@
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.InvoiceId)</th>
            <th>@Html.DisplayNameFor(model => model.InvoiceDate)</th>
            <th>Billing Address</th>
            <th>@Html.DisplayNameFor(model => model.Total)</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
]                <td>
                    <a asp-action="OrderDetails" asp-route-id="@item.InvoiceId">
                        @item.InvoiceId
                    </a>
                </td>

]                <td>@item.InvoiceDate.ToShortDateString()</td>

]                <td>
                    @($"{item.BillingAddress}, {item.BillingCity}, {item.BillingState}, {item.BillingCountry}")
                </td>

                <td>@item.Total.ToString("C")</td>

]                <td>
                    <a asp-action="OrderDetails" asp-route-id="@item.InvoiceId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
